<div class="bg-gradient-to-r from-indigo-950 to-pink-900 p-4 text-white">
  <div class="div-alert">
    <p class="text-md">{{ descriptionTable }}{{ valueInput1 }}</p>
  </div>
  <div class="div-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="modalidade">
        <th mat-header-cell *matHeaderCellDef>Modalidade</th>
        <td mat-cell *matCellDef="let element">{{ element.modalidade }}</td>
      </ng-container>

      <ng-container matColumnDef="taxa">
        <th mat-header-cell *matHeaderCellDef>Taxa</th>
        <td mat-cell *matCellDef="let element">{{ element.taxa }}</td>
      </ng-container>

      <ng-container matColumnDef="desconto">
        <th mat-header-cell *matHeaderCellDef>Desconto</th>
        <td mat-cell *matCellDef="let element">R$ {{ element.desconto }}</td>
      </ng-container>

      <ng-container matColumnDef="receba_total">
        <th mat-header-cell *matHeaderCellDef>Receba no total</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.receba_total }}
        </td>
      </ng-container>

      <ng-container matColumnDef="receba_mes">
        <th mat-header-cell *matHeaderCellDef>Receba por mês</th>
        <td mat-cell *matCellDef="let element">R$ {{ element.receba_mes }}</td>
      </ng-container>

      <ng-container matColumnDef="cliente_paga_mes">
        <th mat-header-cell *matHeaderCellDef>Cliente paga por mês</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.cliente_paga_mes }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
