input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mat-expansion-panel {
  margin: auto;
  background-color: transparent;
  /* border: 1px solid violet; */
}

p {
  justify-content: center;
  color: bisque;
}