<div class="bg-gradient-to-r from-indigo-950 to-pink-900 p-4 text-white">
  <div class="flex justify-center p-4">
    <mat-expansion-panel
      class="w-1/2 p-2 border border-white"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> <p>Plano Econômico</p> </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <p>{{ planDescription }}</p>
      </div>

      <mat-form-field>
        <input matInput />
      </mat-form-field>
      <div class="flex flex-col items-center">
        <button
          id="button"
          (click)="onButtonClick()"
          [ngClass]="buttonClass"
        ></button>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="flex justify-center p-4">
    <mat-expansion-panel
      class="w-1/2 p-2 border border-white"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <div>
        <p>{{ planDescription }}</p>
      </div>

      <mat-expansion-panel-header>
        <mat-panel-title> <p>Plano Antecipado</p> </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Valor do projeto</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-expansion-panel>
  </div>
</div>
