<div class="bg-gradient-to-r from-indigo-950 to-pink-900 p-4 text-white h-full">
  <div class="flex justify-center p-4">
    <mat-expansion-panel
      class="w-1/2 p-2 border border-white"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> <p>Plano Econômico</p> </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="flex flex-col items-center">
        <p>{{ planDescription }}</p>
      </div>

      <div class="flex flex-col items-center">
        <label
          for="price"
          class="block text-sm font-medium leading-6 text-white"
          >Valor do projeto:</label
        >
        <div class="relative rounded-md shadow-sm">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-2"
          >
            <span class="text-white">R$</span>
          </div>
          <div class="py-4">
            <input
              type="number"
              class="w-32 rounded-md py-1.5 pl-7 ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 bg-transparent border border-white text-white"
              placeholder="00,00"
              [(ngModel)]="valueInputEconomic"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center">
        <button
          id="button"
          (click)="onButtonClick(); navigateForEconomicTable()"
          [ngClass]="buttonClass"
        ></button>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="flex justify-center p-4">
    <mat-expansion-panel
      class="w-1/2 p-2 border border-white"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <div>
        <p>{{ planDescription }}</p>
      </div>

      <mat-expansion-panel-header>
        <mat-panel-title> <p>Plano Antecipado</p> </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Valor do projeto:</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-expansion-panel>
  </div>

  <div class="flex justify-center p-4">
    <mat-expansion-panel
      class="w-1/2 p-2 border border-white"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> <p>Taxas de Referência</p> </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <p>Taxas do plano econômico:</p>
        <p>Débito - <b>1,9%</b></p>
        <p>Crédito 1x - <b>4%</b></p>
        <p>Crédito 2x a 12x - <b>5%</b></p>
      </div><br>

      <div>
        <p>Taxas do plano antecipado:</p>
        <p>Débito - EM BREVE</p>
        <p>Crédito 1x - EM BREVE</p>
        <p>Crédito 2x a 12x - EM BREVE</p>
      </div>
    </mat-expansion-panel>
  </div>
</div>
