<div
  class="flex p-4 justify-between text-center items-center bg-gradient-to-r from-indigo-900 to-pink-700"
>
  <p class="text-base text-white">Calculadora de Orçamentos</p>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="text-white">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="justify-center">
        <a href="#" class="text-sm">Início</a>
      </button>
      <button mat-menu-item class="justify-center">
        <a href="#" class="text-sm leading-6">Plano Econômico</a>
      </button>
      <button mat-menu-item class="justify-center">
        <a href="#" class="text-sm leading-6">Plano Antecipado</a>
      </button>
    </mat-menu>
  </button>
</div>
